<!-- <p>install angular material</p>
<button mat-button color="primary">angular mat button </button>

<button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>

    <br>
    <br>
    <button mat-raised-button color="accent"> Accent</button>
<br>
<br>
<mat-slider></mat-slider>
<mat-slider step="4" tickInterval="3"></mat-slider>

<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
</form> -->
<app-digital-clock></app-digital-clock>
<app-login></app-login>  